---

title: Tuberculosis (TB) Test Results

category: Qualifications

---

Schedule an appointment with a physician or urgent care clinic to complete a Mantoux tuberculin skin test, which tests for tuberculosis (TB) exposure. Once the test is complete, return to the test site a few days later, and the physician will give you your results.

To document this qualification, upload a copy or take a photo of your results.

_If you are obtaining this qualification to work with Huntsville Afterschool Labs, the following vendor is recommended:_

[_Community Urgent Care of Madison_](http://communityurgentcare.org/)

_30694 Highway 72 West E_

_Madison, AL 35756_

_256-230-6130_

_\[$15 TB Test\]_
